<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="encuestas" href="/encuestas">
      <ion-icon aria-hidden="true" name="grid-outline"></ion-icon>
      <ion-label>Encuestas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="historial" href="/historial">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-label>Historial</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil" href="/perfil">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
