<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="" size="12">
        <ion-text>
          <h3 class="m-0">Encuestas</h3>
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <div style="background-color: #973661;" class="rounded-3">
          <ion-grid>
            <ion-row>
              <ion-col class="" size="12">
                1
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-col>
      <ion-col size="12">3</ion-col>
      <ion-col size="12">4</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>