<ion-header>
  <ion-toolbar>
    <ion-title>Encuestas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-spinner *ngIf="loading" name="lines"></ion-spinner>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-lg="4" size-md="6" size-sm="12" *ngFor="let poll of polls">
        <ion-card class="poll-card">
          <ion-card-header>

            <ion-card-title class="title">
              <!--<ion-badge  *ngIf="answeredPolls.includes(poll.id)" color="tertiary" style="font-size:12px; margin-right: 5px;">
  Contestada
</ion-badge>-->

              <ion-badge style="font-size: 12px; font-weight: 400;" [color]="poll.status === 'active' ? 'success' : 'medium'">{{ poll.status }}</ion-badge>
              <div>
                <p class="">{{ poll.title }}</p>
                <div style="color: black; font-weight: 400;" class="small-description">{{ poll.description || 'Sin descripción' }}</div>
              </div>

            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <div class="actions">
              <ion-button expand="block" (click)="openPollModal(poll.id)">
                Contestar
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col *ngIf="!loading && polls.length === 0" size="12">
        <div class="empty">No hay encuestas para mostrar.</div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-modal #modal>
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cerrar</ion-button>
          </ion-buttons>

          <ion-title>{{ activePollTitle }}</ion-title>

          <ion-buttons slot="end">
            <ion-button (click)="submitResponses()" [strong]="true">
              Enviar 
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
  <h3>Preguntas</h3>

  <ion-list>
    <div *ngFor="let q of pollQuestions" style="margin-bottom: 20px;">
      
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">
          <strong>{{ q.title }}</strong>
        </ion-label>
      </ion-item>

      <ion-item *ngIf="q.type === 'open'">
        <ion-input
          [(ngModel)]="q.answer"
          placeholder="Escribe tu respuesta...">
        </ion-input>
      </ion-item>

      <ion-list *ngIf="q.type === 'multiple-choice'">
        <ion-item *ngFor="let opt of q.options">
          <ion-checkbox
            slot="start"
            [(ngModel)]="opt.selected">
          </ion-checkbox>
          <ion-label>{{ opt.text }}</ion-label>
        </ion-item>
      </ion-list>

      <ion-radio-group
        *ngIf="q.type === 'single-choice'"
        [(ngModel)]="q.answer">

        <ion-item *ngFor="let opt of q.options">
          <ion-label>{{ opt.text }}</ion-label>
          <ion-radio slot="end" [value]="opt.id"></ion-radio>
        </ion-item>

      </ion-radio-group>

      <ion-radio-group
        *ngIf="q.type === 'yes-no'"
        [(ngModel)]="q.answer">

        <ion-item>
          <ion-label>Sí</ion-label>
          <ion-radio slot="end" value="yes"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>No</ion-label>
          <ion-radio slot="end" value="no"></ion-radio>
        </ion-item>

      </ion-radio-group>

    </div>
  </ion-list>
</ion-content>

    </ng-template>
  </ion-modal>


</ion-content>