.gray-color {
    background: #fafafa;
}
.min-vh-100 {
    min-height: 100vh;
}

.nav-link.active {
    font-weight: bold;
}

.card
{
    border: 1px solid #eeeeee;
    border-radius: 8px;
}
.card-header
{
    background-color: transparent;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 15px;
    border-bottom: 1px solid #eeeeee;
}
.card-body
{
    padding: 10px;
}
